version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5

  - package-ecosystem: "npm"
    directory: "/examples/assemblyscript"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5
